body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #22c1c3, #fdbb2d);
    height: 100vh; 
    width: 100%;
}

p {
    font-family: "Courier New", Courier, monospace;
    margin: 1px;
}

.pokemonboss-health-container{
    text-align: center;
    font-weight: bold;
    position: absolute;
     width: 200px;
    height: 50px;
    top: 15%;
    right: 27%;
    border-radius: 10px;
    z-index: 2;
    }

/*affects totodile to:*/
    .healthbar {
        position: absolute;
        height: 50px;
        background-color: rgba(59, 250, 193, 0.39);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        z-index: 1;
      }

.bulbasaur-health {
width: 200px;
top: 63%;
right: 61%;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
border-radius: 10px;
}

#bulbasaur-name-txt {
    position: absolute;
    top: 63%;
    right: 64%; 
    z-index: 2;
}

#bulbasaur-health-txt {
    position: absolute;
    top: 65%; 
    right: 65%; 
    z-index: 2;
}

.squirtle-health {
    width: 200px;
    top: 57%;
    right: 46%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
     border-radius: 10px;
}

#squirtle-name-txt {
    position: absolute;
    top: 57%;
    right: 49%; 
    z-index: 2;
}

#squirtle-health-txt {
    position: absolute;
    top: 59%; 
    right: 50%; 
    z-index: 2;
}

.ditto-health {
    width: 200px;
    top: 60%;
    right: 76%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
     border-radius: 10px;
}

#ditto-name-txt {
    position: absolute;
    top: 60%;
    right: 80%; 
    z-index: 2;
}

#ditto-health-txt {
    position: absolute;
    top: 62%; 
    right: 80%; 
    z-index: 2;
}

.img-container {
    position: relative;
}

.img-container:hover img {
    transform: scale(1.1);
}

.bulbasaur {
    position: absolute;
    left: 28%;
    bottom: 5%;
}

.squirtle {
    position: absolute;
    bottom: 11%;
    left: 42%;
}

.ditto {
    position: absolute;
    left: 12%;
    bottom: 8%;
  
}

.pokemon {
    height: 200px;
}

.boss {
    height: 600px;
}

.boss-container {
    position: absolute;
    bottom: 10%;
    right: 20%; 
    left: auto; 
    z-index: 2;
}
